/*
    Author : Shashikant Solanki
    Theme : Resturant Food Order
    Version : 1.0
*/

/* To remove all the defaults values of padding,margin */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif; 
}


.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}