/*
    Author : Shashikant Solanki
    Theme : Resturant Food Order
    Version : 1.0
*/

/* To remove all the defaults values of padding,margin */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif; 
}


.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}


.img-curve{
    border-radius: 10px;
}

a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}

/* To move the image logo inside the container. */
.img-responsive{
    width: 100%;   
}

.logo{
    border: 1px solid black;
    width: 13%;
    float: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float: none;
}

.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.text-white{
    color: white;
}

h2{
    color:#2d3436;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

a{
    color: #ff7675;
    text-decoration: none;
}


/* css for navbar section */

.menu ul{
    list-style-type: none;
}

.menu{
    line-height: 60px;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for food search section */

.food-search{
    background-image: url(../images/bg.jpg);
    padding: 7% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* CSS for category class */

.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    border: 1px solid black;
    margin: 2%;
    border: none;
}

/* CSS for food menu */

.food-menu{
    background-color: #ececec;
    padding: 4%;
}

.food-menu-box{
    border: 1px solid black;
    width: 40%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
}